<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
        <title>Home</title>
    </head>
    <body>
        <div class="container">
            <div class="row" style="text-align: center; border-bottom-right-radius: 20%;border-bottom-left-radius: 20%;">
                <h3 style="margin-top:2%; margin-bottom: -0.3%;" onclick="window.location='/'">Robert-Valentin Filip</h3>
                <ul id="menu">
                    <li class="menuel" style="margin: 0 auto;" onclick="window.location='/'">Home | </li>
                    <li class="menuel" onclick="window.location='/projects'">Projects | </li>
                    <li class="menuel" onclick="window.location='/contact'">Contact</li>
                </ul>
            </div>
        </div>
        <center>
            <div style="width:90%">
                <div class="row" style="margin-top:7%;">
                    <div class="col-md-4">
                        <center>
                            <img src="photos/ph1.jpg" style="width:100%; border-radius: 10%;">
                        </center>
                    </div>
                     <div class="col">
                        <center>
                            <p>
                                My name is Robert-Valentin Filip, and I am a student at the Faculty of 
                                Cybernetics, Statistics, and Economic Informatics. I am a very sociable 
                                person, an ability that I developed in my volunteering experience. I was 
                                a volunteer from 2018 to 2022 in ”c@rte in sate”, a project where we were 
                                promoting the culture in the disadvantaged area of Vrancea county. Also, 
                                I am a good team worker, a quality that I earned in my handball experience. 
                                From 2018 to 2022 I was a line player at the CSM 2007 Focsani junior team, 
                                where I played in two National Final Tournaments.
                            </p>
                        </center>
                    </div>
            </div>
        </center>
    </body>
</html>