$color1: #18122B;
$color2: #393053;
$color3: #443C68;
$font: 'Oswald', sans-serif;

.menuel{
    display: inline;
    font-size:13px;
}
body{
    text-align: center;
    font-family: $font;
    color: white;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to right ,$color1, $color2, $color3);
}
.menuel:hover{
    color:beige;
}
#contact li{
    font-size: 14px;
    padding: .7%;
    border-bottom: 2px white solid;
}
#contact{
    margin-top:15%;
}